.navbar {
  background-color: #fff;

  .navbar-brand {
    font-size: 22px;
    font-weight: 800;
    padding-right: 16px;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 600;
    padding: 8.6px 14px;

    &.active {
      color: #6366f1;
    }
  }

  // landing dropdown image
  .landingDropdown-image {
    background-image: url("../images/landings-hover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 224px;
    min-height: 317px;
  }

  .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.cta {
  .btn {
    font-size: 14px;
    font-weight: 600;
  }
}

.nav-link {
  color: #33354d;
}

@keyframes show-dropdown {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
