.nav-link.active {
    color: #6366f1 !important;
}

.nav-link:focus,
.nav-link:hover {
    color: #6366f1 !important;
}

.navbar-brand {
    font-size: 22px;
    font-weight: 800;
    line-height: 35.2px;
    &>img {
        margin-right: 0.4375rem;
    }
}

.nav-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    padding-right: 14px;
    color: #33354d;
}

.d1 {
    padding: 0;
}

@include media-breakpoint-up(lg) {
    .dropdown:hover>.dropdown-menu {
        display: block;
        animation: dropdown-show .2s;
    }
}

@keyframes dropdown-show {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.mega-dropdown-column {
    width: 14rem;
    padding: 0 0.75rem;
}

.landing-img {
    width: 14rem;
    img {
        width: 100%;
    }
}