.navbar {
    background-color: #fff;
    z-index: 1031;
    &.navbar-stuck {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        animation: navbar-show .25s ease-in-out;
        box-shadow: 0 0.275rem 1.25rem rgb(11 15 25 / 5%), 0 0.25rem 0.5625rem rgb(11 15 25 / 3%);
    }
    .navbar-brand {
        font-size: 22px;
        font-weight: 800;
        padding-right: 16px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .btn-close:focus {
        box-shadow: none;
    }
    .nav-link {
        font-size: 16px;
        font-weight: 600;
        padding: 8.6px 14px;
        &.active {
            color: #6366f1;
        }
    }
}

.dropdown-menu {
    border: none;
    box-shadow: 0 0.275rem 1.25rem rgba(11, 15, 25, 0.05), 0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03);
    // padding: 1em;
    // margin-top: 0.25rem;
    .about-dropdown-item {
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 800;
        color: #0b0f19;
    }
    .pe-2 {
        padding-right: 20px !important;
    }
    .pe-4 {
        padding-right: 20px !important;
    }
    .pe-5 {
        padding-right: 70px !important;
    }
}

.right-padding {
    padding-right: 40px;
}

.background {
    background-image: url("../images/global/landings.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 224px;
    min-height: 317px;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-item {
    font-weight: 500;
    font-size: 14px;
    color: #565973;
    transition: 0.3s;
    padding: 6px 16px;
    &:hover {
        color: #6366f1;
        background: transparent;
    }
}

.cta {
    .btn {
        font-size: 14px;
        font-weight: 600;
    }
}

.nav-link {
    color: #33354d;
}

// Dropdown Show
@keyframes show-dropdown {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

// Header Show
@keyframes navbar-show {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

// mobile Design
// .close-menu {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .offcanvas-header {}
// Responsive
@media screen and (max-width: 991px) {
    .overflowauto {
        overflow-y: auto;
    }
    .row {
        flex-direction: column;
        width: 100%;
        .overflowauto {
            overflow-y: auto;
        }
        .col {
            width: 100%;
            margin-right: 0 !important;
        }
        .pb-2 {
            padding-bottom: 0 !important;
        }
        .pt-3 {
            padding-top: 0 !important;
        }
        .fullwidth {
            width: 100%;
        }
    }
    .dropdown-menu {
        box-shadow: none;
        .background {
            display: none;
        }
    }
    .cta {
        padding: 1.5rem;
        border-top: 1px solid #e2e5f1;
        .btn {
            justify-content: center;
        }
    }
}